body{
    height: 100vh;
    background-image: linear-gradient(rgb(220, 230, 220),rgb(206, 255, 206));
}

h1{
    text-align: center;
    margin-top: 5px;
}

.container{
    max-width: 955px;
    border: 1px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(255, 255, 255);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 1px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp{
    padding: 0 15px;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
    height: 34px;
}